html {
  scrollbar-color: var(--scrollbar-thumb) var(--background-body);
  scrollbar-width: thin;
}


body {
  font-family: maple, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 1.5;
  /* max-width: 800px; */
  /* margin: 20px auto; */
  /* padding: 0 10px; */
  font-size: 13.6px;
  word-wrap: break-word;
  color: var(--text-main);
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}

button,
input,
textarea {
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}

input[type='date']{
  font-family:  nunito;
  font-size: 12px;
}

.theme{
  background: var(--themecolor);
}

.menu:hover{
  /* background: var(--background-alt); */
  color: var(--text-bright);
  /* font-weight: bold; */
}
.active{
  background: var(--border);
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.bright:hover{
  color: var(--text-bright); 
}

.form-table{
  border-collapse:collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
  user-select: none;
  /* border:1px solid #ccc */
}
.form-table td{
  border:1px solid var(--border);

}
.form-table span{
  font-size: 12px;
  /* color: gray; */
}
.form-info span{
  padding-top: 0 !important;
  user-select: all !important;
  font-size: 14px !important;
}
.form-table tbody tr {
  background-color: var(--background-body) !important;
}

.form-table tbody tr td:nth-child(odd){
  width: 125px;
  font-weight: 500;
  background-color: var(--background-deep) !important;
}

.messagebox{
  /* min-width: 208px; */
  left:calc(50% - 104px)
}
.message{
  /* position: absolute;
  top:16px;
  left:calc(50%-20px);
  padding: 8px 24px; */
  background-color: var(--background-body);
}

