@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: "carnas";
    src: url("./assets/fonts/carnas/Carnas-Regular.ttf") ;
} */

/* @font-face {
    font-family: "maple";
    src: url("./assets/fonts/maple/MapleMono-Light.ttf") ;
} */


@font-face {
    font-family: "mono";
    src: url("./assets/fonts/mono/JetBrainsMono-Regular.woff2") ;
    /* font-variant-ligatures: none;
    font-feature-settings: "liga" 0; */
    font-variant-ligatures: no-common-ligatures;
}



/* @font-face {
    font-family: "notosans";
    src: url("./assets/fonts/notosans/NotoSansSC-Medium.otf");
} */

