@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: "carnas";
    src: url("./assets/fonts/carnas/Carnas-Regular.ttf") ;
} */

@font-face {
    font-family: "nunito";
    src: url("./assets/fonts/nunito/Nunito-Medium.ttf") ;
}


/* @font-face {
    font-family: "notosans";
    src: url("./assets/fonts/notosans/NotoSansSC-Medium.otf");
} */

